<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Surfdash</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
  </head>
  <body>
    <div class="wrapper">

      <div class="cams-and-graphs">
        <div class="cam-list">
          <a href="https://www.surfguru.com/jetty-park-surf-report" target="cam-iframe">
            <%= erb :"surf-guru-logo.svg" %>
            Jetty
          </a>
          <a href="https://www.surfline.com/surf-report/cocoa-beach-pier-northside/584204214e65fad6a7709d2b" target="cam-iframe">
            <%= erb :"surfline-logo.svg" %>
            Pier North
          </a>
          <a href="https://www.surfline.com/surf-report/cocoa-beach-pier/5842041f4e65fad6a7708872" target="cam-iframe">
            <%= erb :"surfline-logo.svg" %>
            Pier
          </a>
          <a href="https://www.surfline.com/surf-report/cocoa-beach-pier-southside/584204214e65fad6a7709d29" target="cam-iframe">
            <%= erb :"surfline-logo.svg" %>
            Pier South
          </a>
          <a href="https://www.surfguru.com/cocoa-beach-pier-surf-report" target="cam-iframe">
            <%= erb :"surf-guru-logo.svg" %>
            Pier
          </a>
          <a href="https://www.surfguru.com/lori-wilson-park-surf-report" target="cam-iframe">
            <%= erb :"surf-guru-logo.svg" %>
            Lori Wilson
          </a>
          <a href="https://www.surfline.com/surf-report/16th-st-south/5842041f4e65fad6a7708ac7" target="cam-iframe">
            <%= erb :"surfline-logo.svg" %>
            16th St.
          </a>
          <a href="https://www.surfline.com/surf-report/hightower-beach/584204214e65fad6a7709cbd" target="cam-iframe">
            <%= erb :"surfline-logo.svg" %>
            Hightower
          </a>
        </div>

        <section class="cam-wrapper">
          <iframe name="cam-iframe" width="640" height="360" src="https://www.surfguru.com/cocoa-beach-pier-surf-report" frameborder="0" scrolling="no" allowfullscreen></iframe>
          <!-- <iframe width="640" height="360" src="https://www.youtube.com/embed/sXXaMSLAtVI?controls=0&#38;disablekb=1&#38;autoplay=1&#38;showinfo=0&#38;rel=0&#38;iv_load_policy=3" frameborder="0" allow="accelerometer; autoplay; encrypted&#45;media; gyroscope; picture&#45;in&#45;picture" allowfullscreen></iframe> -->
        </section>

        <section id="tide-chart" class="tide-chart">
        </section>

        <section class="wind-alert-wrapper">
          <div class="wind-alert-map-wrapper" style="width: 213px; height: 245px; float: left">
            <iframe align="top" name="wind-map" id="wind-map" src="https://widgets.windalert.com/widgets/web/windMap?w=213&h=245&c=f2f2f2&set_ctl=all&m_m=t&csn= &search=28.383,-80.63&sn=Cocoa Beach Pier&sid=550&u_t=F&act=Kite&m_c=28.383,-80.63&m_z=11&app=windalert" width="213" height="245" frameborder="0" scrolling="no" allowtransparency="no"></iframe>
          </div>

          <div class="wind-alert-graph-wrapper">
            <iframe align="top" src="https://widgets.windalert.com/widgets/web/currentConditions?spot_id=550&units_wind=mph&units_temp=F&width=426&height=245&color=f2f2f2&name= &activity=Kite&app=windalert&include_fx=true" width="426" height="245" frameborder="0" scrolling="no" allowtransparency="no"></iframe>
          </div>

        </section>
      </div>

      <div class="reports">
        <section class="reports-wrapper">
          <div id="weather-report-wrapper" class="weather-report-wrapper report-wrapper"></div>
          <div id="buoy-41113-report-wrapper" class="buoy-report-wrapper report-wrapper"></div>
          <div id="buoy-41009-report-wrapper" class="buoy-report-wrapper report-wrapper"></div>
          <div id="surfline-report-wrapper" class="surfline-report-wrapper report-wrapper"></div>
          <div id="surfline-county-report-wrapper" class="surfline-county-report-wrapper report-wrapper"></div>
        </section>
      </div>
    </div>

  </body>
  <script src="javascripts/lib/d3.min.js"></script>
  <script src="javascripts/lib/jquery-2.1.3.min.js"></script>
  <script src="javascripts/tide_chart.js"></script>
  <script src="javascripts/sparkline.js"></script>
  <script src="javascripts/buoy_chart.js"></script>
  <script src="javascripts/app.js"></script>
</html>
