<header>
  <h3><a href="<%= buoy.url %>"><%= title %> (<%= buoy.station_id %>)</a></h3>
  <div class='updated-at'><%= buoy.updated_at_string %></div>
</header>

<div id="<%= buoy.dom_id %>-buoy-chart">
  <div class="buoy-conditions">
    <div class="metric wave-height">
      <div class="title">Height</div>
      <div class="measurement">
        <span class="value"><%= buoy.wave_height %></span><span class="unit">ft</span>
      </div>
    </div>
    <div class="metric dominant-period">
      <div class="title">Dominant</div>
      <div class="measurement">
        <span class="value"><%= buoy.dominant_period %></span><span class="unit">s</span>
      </div>
    </div>
    <div class="metric average-period">
      <div class="title">Average</div>
      <div class="measurement">
        <span class="value"><%= buoy.average_period %></span><span class="unit">s</span>
      </div>
    </div>
    <div class="metric direction">
      <div class="title">Direction</div>
      <div class="measurement">
        <span class="value"><%= buoy.direction %></span>
      </div>
    </div>
    <div class="metric time">
      <div class="title">Time</div>
      <div class="measurement">
        <span class="value"></span>
      </div>
    </div>
  </div>
</div>

<script type="application/json" id="<%= buoy.dom_id %>-chart-data">
  <%= buoy.swell_time_series.to_json %>
</script>

