<header>
  <h3>Surfline</h3>
  <div class='updated-at'><%= surfline.updated_at_string %></div>
</header>

<div class='wave-conditions'>
  <span class='spot-conditions <%= surfline.spot_conditions_class %>' title='<%= surfline.spot_conditions %>'></span>
  <span class='wave-range'><%= surfline.wave_range %></span>
  <span class='wave-description'><%= surfline.wave_description %></span>
</div>

<div class='spot-conditions-report <%= surfline.seen_it_already_class %>'>
  <%= surfline.spot_conditions_report %>
</div>
